/.idea
/library/.gradle
/library/.idea
/library/TeamCode/build
/library/FtcRobotController/build
/library/Panels/src/main/assets/web
/library/.kotlin
**/.panels
library/replay_pid62272.log
library/hs_err_pid62272.log
/library/Combined/build
*.log
/library/plugin-svelte-assets/build
